<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/public/stylesheets/style.css">
</head>
<style>
	main {
		padding: 10px;
		border: 2px solid gray;
	}
	.nav {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
</style>

<body>
	<main>
	<nav class="nav">
		<a href="/"><button>回到首頁</button></a>
		<div>
			<a href="/About"><button>About</button></a>
			<a href="/Portfolio"><button>Portfolio</button></a>
			<a href="/Contact"><button>Contact</button></a>
		</div>
	</nav>
	{{{body}}}
	</main>
</body>

</html>